.container {
    text-align: center;
}

.imgContainer {
    width: 300px;
    height: 300px; 
    overflow: hidden;
    border-radius: 70%;
    margin: 0 auto;
}

#mainTitle {
    font-size: 1.35rem;
}

.imgSetter {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    width: 250px;
    margin: 0 auto;
}

h1 {
    font-family: 'Jeju Myeongjo', serif;
    text-decoration-color: brown;
    font-size: 2rem;
}